@model IEnumerable<CatalogoProductoDesarrolloWebUASD.Models.ModelDB.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoVentas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaPago1.FormaPago1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Producto1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoVentas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaPago1.FormaPago1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.Producto1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VentasID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VentasID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VentasID })
        </td>
    </tr>
}

</table>
